<a href="obsidian://open" id="protocol-alert">{{ "optionProtocolAlert" | i18n }}</a>
<form [formGroup]="form" id="options">
  <div>
    <label>
      {{ "optionVault" | i18n }}
      <input formControlName="vault">
    </label>
    <span>{{ "optionVaultDescription" | i18n }}</span>
  </div>

  <div formArrayName="paths">
    <h3> {{ "optionPaths" | i18n }}</h3>
    <div *ngFor="let path of paths.controls; let i=index" [formGroupName]="i">
      <label>
        {{ "optionHotkey" | i18n }}
        <input type="text" formControlName="hotkey">
      </label>
      <label>
        {{ "optionPath" | i18n }}
        <input type="text" formControlName="path">
      </label>
    </div>
    <button (click)="addPath()">+ {{ "optionAddPath" | i18n }}</button>
  </div>
</form>
